.btn-outline {
  color: #f17300;
  width: 130px;
  font-weight: 700;
  border: 2px solid #f17300;
  padding: 10px 15px;
  border-radius: 40px;
  display: inline-block;
  margin: 30px;
}

.btn-solid {
  background-color: white;
  border: 2px solid white;
}

.btn-outline:hover {
  background-color: #f17300;
  color: white;
}
